.custom-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.dialog-box {
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
}
.discrete-a {
    text-decoration: none;
    color: inherit;
}
/* Style for the search bar container */
.search-container {
    align-items: center;
}

/* Style for the search input */
.search-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    outline: none;
}

/* Style for the search button */
.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

/* Add some margin between input and button */
.search-input, .search-button {
    margin-right: 10px;
}

/* Basic styling for the post container */
.post-container {
    width: 800px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
}

/* Style for the user's profile image */
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Style for the post content */
.post-content {
    font-size: 16px;
    line-height: 1.4;
}

/* Style for the post image */
.post-image {
    max-width: 100%;
    margin-top: 10px;
}